<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Publish web</title>
</head>
<body>
<H2>1.上传微信web功能</H2>
<form method = "post" action="/" method = "post">
    <p>压缩包：<input type=file name=file>
   <input type="submit" value="Upload">
    <input type="radio" name="run" value="True">执行</p>

</form>
<H2>2.上传logweb功能</H2>
<form method = "post" action="/" method = "post">
    <p>压缩包：<input type=file name=file>
   <input type="submit" value="Upload">
    <input type="radio" name="run" value="True">执行</p>

</form>
<H2>3.重启外网功能</H2>
<form method = "post" action="/" method = "post">
    <input type="radio" name="run" value="True"></p>
       <input type="submit" value="执行">

</form>
<H2>4.重启上传服务</H2>
<form method = "post" action="/" method = "post">
    <input type="radio" name="run" value="True">执行</p>
       <input type="submit" value="执行">

</form>
</body>
</html>